@font-face {
  font-family: 'iconfont';  /* Project id 3313024 */
  src: url('//at.alicdn.com/t/font_3313024_r6vkgl9r4ks.woff2?t=1651125859479') format('woff2'),
       url('//at.alicdn.com/t/font_3313024_r6vkgl9r4ks.woff?t=1651125859479') format('woff'),
       url('//at.alicdn.com/t/font_3313024_r6vkgl9r4ks.ttf?t=1651125859479') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}