$content-fontColor  : #333333;
$content-fontColor2 : #262628;
$content-bgColor    : #f1f1f1;
$content-bgColor2   : #c1c0c9;
$content-noticeColor: #777777;
$search-bgColor     : #f5f5f5;
$search-fontColor   : #b7b7b7;
$highlight-fontColor: #e93b3b;
$light-fontColor    : #999999;
$medium-fontColor   : #666666;
$btn-bgColor        : #0091ff;
$btn-bgColor2       : #4fb0f9;
$bgColor            : #ffffff;
$bgColor2           : #000000;
$mask-bgColor       : rgba(0, 0, 0, 0.5);
$box-shodowColor    : rgba(0, 0, 0, 0.1);